stepfunctions/trade_lifecycle.asl.json
{
  "Comment": "Trade Engine - Standard Workflow (outer trade lifecycle). The monitoring loop (Express Workflow) exits with SHOULD_CHAIN when approaching the 5-min Express limit. MonitoringDecision catches that and loops StartMonitoring, ensuring only one monitoring loop runs at a time \u2014 eliminating the double-close race.",
  "StartAt": "PreTradeRiskCheck",
  "States": {
    "PreTradeRiskCheck": {
      "Type": "Task",
      "Resource": "${RiskCheckFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "strategy_id.$": "$.strategy_id",
        "symbol.$": "$.symbol",
        "side.$": "$.side",
        "quantity.$": "$.quantity"
      },
      "ResultPath": "$.risk_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "RejectedLog",
          "ResultPath": "$.error"
        }
      ],
      "Next": "RiskDecision"
    },
    "RiskDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.risk_result.approved",
          "BooleanEquals": true,
          "Next": "PlaceOrder"
        }
      ],
      "Default": "RejectedLog"
    },
    "RejectedLog": {
      "Type": "Task",
      "Resource": "${LogTradeFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "status": "REJECTED",
        "reason.$": "States.JsonToString($.risk_result)"
      },
      "End": true
    },
    "PlaceOrder": {
      "Type": "Task",
      "Resource": "${PlaceOrderFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "symbol.$": "$.symbol",
        "side.$": "$.side",
        "quantity.$": "$.quantity",
        "order_type.$": "$.order_type",
        "limit_price.$": "$.limit_price"
      },
      "ResultPath": "$.order_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "OrderFailedLog",
          "ResultPath": "$.error"
        }
      ],
      "Next": "WaitForFill"
    },
    "OrderFailedLog": {
      "Type": "Task",
      "Resource": "${LogTradeFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "status": "ORDER_FAILED",
        "error.$": "$.error"
      },
      "End": true
    },
    "WaitForFill": {
      "Type": "Task",
      "Resource": "${WaitForFillFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "ib_order_id.$": "$.order_result.ib_order_id",
        "symbol.$": "$.symbol"
      },
      "ResultPath": "$.fill_result",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "FillPending"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 15
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "FillTimeout"
          ],
          "Next": "CancelOrder",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "OrderFailedLog",
          "ResultPath": "$.error"
        }
      ],
      "Next": "SetProtectiveStop"
    },
    "CancelOrder": {
      "Type": "Task",
      "Resource": "${ClosePositionFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "ib_order_id.$": "$.order_result.ib_order_id",
        "action": "CANCEL"
      },
      "Next": "OrderFailedLog"
    },
    "SetProtectiveStop": {
      "Type": "Task",
      "Resource": "${SetStopFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "symbol.$": "$.symbol",
        "side.$": "$.side",
        "quantity.$": "$.quantity",
        "fill_price.$": "$.fill_result.fill_price",
        "strategy_id.$": "$.strategy_id"
      },
      "ResultPath": "$.stop_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Next": "StartMonitoring"
    },
    "StartMonitoring": {
      "Comment": "Launch the Express monitoring loop and WAIT for it (sync:2). When the loop approaches the 5-min Express limit it exits with exit_reason=SHOULD_CHAIN. MonitoringDecision below detects that and loops back here, starting a fresh Express execution \u2014 ensuring only one monitoring loop is active at any time.",
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${MonitoringLoopArn}",
        "Input": {
          "trade_id.$": "$.trade_id",
          "symbol.$": "$.symbol",
          "side.$": "$.side",
          "quantity.$": "$.quantity",
          "fill_price.$": "$.fill_result.fill_price",
          "fill_time.$": "$.fill_result.fill_time",
          "stop_loss_price.$": "$.stop_result.stop_loss_price",
          "take_profit_price.$": "$.stop_result.take_profit_price",
          "strategy_id.$": "$.strategy_id",
          "chain_count.$": "$.chain_count"
        }
      },
      "ResultPath": "$.monitor_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "EmergencyClose",
          "ResultPath": "$.error"
        }
      ],
      "Next": "MonitoringDecision"
    },
    "MonitoringDecision": {
      "Comment": "If the monitoring loop exited because it was approaching the 5-min Express limit (SHOULD_CHAIN), loop back and start a new Express execution. For any real exit condition (STOP_HIT, TP_HIT, TIMEOUT, etc.), proceed to close the position.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.monitor_result.exit_reason",
          "StringEquals": "SHOULD_CHAIN",
          "Next": "IncrementChainCount"
        }
      ],
      "Default": "ClosePosition"
    },
    "IncrementChainCount": {
      "Comment": "Increment chain_count, write result back to $.chain_count, then restart monitoring.",
      "Type": "Pass",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "strategy_id.$": "$.strategy_id",
        "symbol.$": "$.symbol",
        "side.$": "$.side",
        "quantity.$": "$.quantity",
        "order_type.$": "$.order_type",
        "limit_price.$": "$.limit_price",
        "comment.$": "$.comment",
        "fill_result.$": "$.fill_result",
        "stop_result.$": "$.stop_result",
        "monitor_result.$": "$.monitor_result",
        "chain_count.$": "States.MathAdd($.chain_count, 1)"
      },
      "ResultPath": "$",
      "Next": "StartMonitoring"
    },
    "ClosePosition": {
      "Type": "Task",
      "Resource": "${ClosePositionFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "symbol.$": "$.symbol",
        "side.$": "$.side",
        "quantity.$": "$.quantity",
        "exit_reason.$": "$.monitor_result.exit_reason",
        "action": "CLOSE"
      },
      "ResultPath": "$.close_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "EmergencyClose",
          "ResultPath": "$.error"
        }
      ],
      "Next": "LogAndAlert"
    },
    "EmergencyClose": {
      "Type": "Task",
      "Resource": "${ClosePositionFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "symbol.$": "$.symbol",
        "side.$": "$.side",
        "quantity.$": "$.quantity",
        "exit_reason": "EMERGENCY",
        "action": "CLOSE"
      },
      "ResultPath": "$.close_result",
      "Next": "LogAndAlert"
    },
    "LogAndAlert": {
      "Type": "Task",
      "Resource": "${LogTradeFunctionArn}",
      "Parameters": {
        "trade_id.$": "$.trade_id",
        "strategy_id.$": "$.strategy_id",
        "symbol.$": "$.symbol",
        "side.$": "$.side",
        "quantity.$": "$.quantity",
        "fill_price.$": "$.fill_result.fill_price",
        "close_price.$": "$.close_result.close_price",
        "exit_reason.$": "$.close_result.exit_reason",
        "pnl_usd.$": "$.close_result.pnl_usd",
        "status": "CLOSED"
      },
      "End": true
    }
  }
}